In [1]:
#1- write 3 variable and check for it's data types using type() function
x = 10
y = 3.5
z = "i am Rana Nasser"

print(type(x))  # Output: <class 'int'>
print(type(y))  # Output: <class 'float'>
print(type(z))  # Output: <class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

In [2]:
#2- write 3 variable and take it in one line using split() function and print it
a, b, c = input("Enter three values separated by space: ").split()
print(f"a: {a}, b: {b}, c: {c}")

Enter three values separated by space: 1 2 3
a: 1, b: 2, c: 3

In [5]:
#3- write program take number from user then convert it to string " casting " then print lenth of this string using len() function
num = int(input("Enter a number: "))
num_str = str(num)
print(f"Length of {num_str} is {len(num_str)}")

Enter a number: 484
Length of 484 is 3

In [8]:
#4- you have number and you want to remove last k number from this number implement python program do that and print result
num = int(input("Enter a number: "))
k = int(input("Enter the number of digits to remove: "))
result = num // (10 ** k)
print("Result is: ",result)

Enter a number: 123
Enter the number of digits to remove: 2
Result is:  1

In [10]:
#5- take integer multiple number in one line using map and split then print maximum and minimum number from it using min and max function
numbers = list(map(int, input("Enter multiple numbers separated by space: ").split()))
max_num = max(numbers)
min_num = min(numbers)
print("Maximum number:", max_num)
print("Minimum number:", min_num)

Enter multiple numbers separated by space: 2 3 5 7 1
Maximum number: 7
Minimum number: 1

In [12]:
a = int(input("Enter first value: "))
b = int(input("Enter second value: "))
minimum = a if a < b else b
print("The minimum value is:", minimum)

Enter first value: 20
Enter second value: 10
The minimum value is: 10

In [17]:
'''7- Write a program that reads an integer salary then:
	If salary < 1000,
	-	Print you are poor
	elif salary greater than or equal to 1000 and less than 20000
	-	Print good salary
	elif salary greater than or equal to 20000
	-	Print you are rich'''
salary = int(input("Enter your salary: "))
if salary < 1000:
    print("You are poor")
elif salary < 20000:
    print("Good salary")
else:
    print("You are rich")

Enter your salary: 2000
Good salary

In [ ]:
#8- Write a Python program that receives the age of the user and display whether he/she can drive a car. If the user is above 18 years old, he/she can drive.
age = int(input("Enter your age: "))
if age > 18:
    print("he/she can drive a car")
else:
    print("he/she can not drive a car")

In [20]:
#9- Write a Python program that divides two numbers together and display the result. However, if the second number is a zero then the calculation can't be done as dividing a number by zero gives a result of ‘infinity’.
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
if num2 == 0:
    print("The calculation can't be done as dividing a number by zero gives a result of ‘infinity’")
else:
    result = num1 / num2
    print("The result is: ", result)

Enter the first number: 6
Enter the second number: 2
The result is:  3.0

In [22]:
#10- We need to print 0,3,6,9,12 using for loop
for i in range(0,13,3):
     print(i , end= " ")

0 3 6 9 12

In [24]:
#11-We need to print 0 ,3 ,6 ,9 ,12 and index of positions using for loop -> hint: enumerate function
numbers = [0, 3, 6, 9, 12]
for i, num in enumerate(numbers):
    print("index: ",i,"    ","value: " ,num)

index:  0      value:  0
index:  1      value:  3
index:  2      value:  6
index:  3      value:  9
index:  4      value:  12